{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'home/css/base.css' %}">
<script src="{% static 'home/js/script.js' %}"></script>
{% endblock %}
{% block content %}
  {% include 'home/inc/food_menu.html' %}

  <div class="food-card">
        <div class="card">
            <h3>Your Card</h3>
            <h5>items:</h5>
            <ul>
                {% for item in items %}
                    <li>item.name - item.count: item.price $ | <button type="button" class="btn btn-danger">Delete</button></li>
                {% endfor %}
            </ul>
        </div>
  </div>
{% endblock %}
