<div class="food-menu">
    
    <div class="food-container">
      <div class="category-container">
        {% for category in categories %}
          {% if button == category %}
            <button type="button" class="btn btn-primary btn-lg categories">{{ category }}</button>
          {% else %}
            <button type="button" class="btn btn-secondary btn-lg categories">{{ category }}</button>
          {% endif %}
        {% endfor %}
      </div>
      
      <div class="items">
        {% for food in foods %}
        <div class="item {{ food.category }}">
          <img src={{ food.image.url }} width="100%" alt="{{ food.name }}">
          <hr>
          <div>
            <div class="title">
              <p>{{ food.name }}</p>
              <p id="food-price">{{ food.price }}T</p>
            </div>
            <p class="description">{{ food.description }}</p>
          </div>
          <button class="btn btn-primary add-to-card" type="submit">Add to Card</button>
        </div>
        {% endfor %}
      </div>
      
    </div>
    
  </div>