.o-row{
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #cccccc;
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
    margin: 5px 0;
  }

  #odetail, #obtns, #ocount{
    height: 100%;
    /* border: 1px solid #000; */

  }

  #obtns{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
  }

  #odetail{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0 5px 20px;
  }

  #obtns div{
    width: 30px;
    height: 30px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #obtns .add, #obtns .remove{
    border-radius: 15px;
    cursor: pointer;
  }

  #obtns .add{
    background-color: mediumseagreen;
  }

  #obtns .remove{
    background-color: crimson;
  }

  #obtns #ocount{
    cursor:default;
  }
